<form>
    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label for="nome">Nome da Faculdade</label>
              <input type="text" class="form-control" id="nome">
            </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label for="curso">Campus</label>
              <input type="text" class="form-control" id="curso">
            </div>
      </div>
      <div class="col-md-4">
          <button type="submit" class="btn btn-primary btn-block mt-4">Cadastrar Diploma</button>      </div>
    </div>
    
  </form>